* {
  box-sizing: border-box; // чтобы padding + border не добавлялись к ширине и высоте, а входили в них
}

body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #dfe7ec;
}
.wrapper {
  min-height: 100%; //   Для того чтобы wrapper оттолкнул footer
  overflow: hidden; // Чтобы не было горизонтального скролла
  position: relative; // Все absolute у детей будет отсчитываться от wrapper
}
.container {
  width: 90%;
  max-width:  1100px;
  margin: 0  auto;   // Выравнивание по центру горизонтально при любой ширине
  @include clearfix;
}

ul {
  padding: 0;
  margin: 0;
  }
  li {
    list-style: none;// однотипный контент меню пагинация списками верстаем, чтобы не мешали отступы + точки
  }

p {
  padding: 0; 
  margin: 0;
}

a {
  text-decoration: none;
}
