.rate {
  @include clearfix;
}
.title {
  text-align: left;
  color: #221f1f;
  font-family: Roboto;
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
}
.rate__lux,
.rate__premium,
.rate__standart {
  float: left;
  width: 30%;
  // margin-right: 12%;
  border: 5px solid transparent;
  &:hover {
    border: 5px solid #f5f5f5;
  }
}
.rate__pic {
  width: 68px;
  height: 68px;
  background-color: #4b73b5;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.rate__img {
  @include absolute-center;
}
.rate__title {
  text-align: center;
  color: #212121;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 700;
  line-height: 51.38px;
}

.rate__list {
  margin-left: 17%;
  li {
    list-style: disc;
  }
}
.rate__text,
.rate__list {
  text-align: left;
  color: #221f1f;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.rate__text {
  text-align: center;
}
.rate__price {
  color: #212121;
  font-family: Roboto;
  font-size: 52px;
  font-weight: 400;
  /* Text style for "$" */
  color: #202020;
  line-height: 182.3px;
  /* Text style for "1, 9" */
  letter-spacing: -1.07px;
  line-height: 106.58px;
}

// NEWS
.news {
  margin-top: 40px;
  @include clearfix;
}

.news__list {
  margin-top: 55px;
  @include clearfix;
  margin-left: -5px;
}
.news__item {
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 18px;
  margin-bottom: 30px;
  @include clearfix;
}
.news__pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.news__text {
  width: 700px;
  padding-left: 20px;
  float: left;
  text-align: left;
}
.news__name {
  font-family: Roboto;
  font-weight: 700;
  line-height: 21px;
}
.news__data {
  // Text style for "12.10.2016"
  color: #656464;
  font-family: "Roboto Light";
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.news__content {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.reserv__img {
  height: 174px;
  background-color: #4bb56b;
  background: url("../img/air/Rectangle 1.png");
}
.reserv__text {
  width: 625px;
  height: 79px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.reserv__container {
  position: relative;
  @include clearfix;
}
.reserv__text {
  margin-top: 78px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.visually-hidden {
    display: none;
}
.pilot__desription {
  @include clearfix;
  margin-top: 45px;
}
.pilot__item {
  float: left;
  width: 33%;
  text-align: center;
  width: 263px;
  height: 350px;
}
.pilot_pic-wrapper {
  width: 160px;
height: 160px;
   border-radius: 50%;
   margin: 0 auto;
}
.pilot__pic {
  position: relative;
  background-color:   #4b73b5;
  opacity: 0.6;
  border-radius: 50%;
height: 100%;
  }
.pilot__name {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
    color: #ffffff;
   @include roboto(italic);
  line-height: 21px;
}
  .pilot__img {
    border-radius: 50%;
      }
.pilot__full-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
} 
.pilot__profession {
color: #4b73b5;
@include roboto(italic);
font-weight: 700;
}
.pilot_opinion {
@include roboto(light);
font-weight: 500;
}

.partners__item {
    width: 160px;
    height: 62px;
    float: left;
    margin-right: 114px;
    text-align: center;
    margin-bottom: 45px;


}
.partners__img-wrapper {
    margin: 0 auto;
    filter: grayscale(100%);
}
.partners__img-wrapper:hover {
    filter: none;
}
.partners__link {
    display: inline-block;
}