.sidebar,
.maincontent {
  float: left;
}
.top {
  @include clearfix;
}
.sidebar {
  text-align: left;
  width: 20%;
}
.maincontent {
  text-align: right;
  width: 80%;
}
.sidebar__link:hover {
  color: black;
  .sidebar__text {
    color: black;
  }
}
.sidebar__text {
  color: #4b73b5;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  /* Text style for "Главная" */
  letter-spacing: 2.4px;
}

.sidebar__icon {
  svg * {
    fill: currentColor;
  }
}
.sidebar__icon,
.sidebar__text {
  display: inline-block;
  vertical-align: middle;
}
